@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');

code{
    font-family: 'Source Code Pro', monospace;
    font-size: 150%;
    color: linen;
}
.intro{
    font-family: 'Dancing Script', cursive;
}
.laptop {
    font-size: xxx-large;
}

a{
    color: lightsalmon;
    font-weight: bold;
    text-decoration: none;
}
a:hover{
    color: rgb(247, 179, 54);
}
.grow10 { 
    transition: all .1s ease-in-out; 
}
.grow10:hover { 
    transform: scale(1.1); 
    
}
.inline{
    display: inline-block;
}