/* .fixed{
    position: fixed;
}
.center{
    justify-content: center;
}
.sticky{
    position: fixed;
    width: 100%;
}
.keep-right{
    margin-left: auto;
}

@media screen and (min-width: 992px){  
    .auto-display{
        display: none ;
    }
} */


