@media screen and (max-width: 700px){
    .welcome-msg{
        font-size: small;
    }
}
@media screen and (min-width: 701px) and (max-width: 1000px){
    .welcome-msg{
        font-size: xx-large;
    }
}

.form-group{
    padding-bottom: 10px;
    text-align: left;
}
.form-group label{
    padding-left: 5px;
    padding-bottom: 5px;
}
.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.2); 
    text-transform: uppercase;
}
